.edit {
  margin: 3rem 1rem 2rem 1rem;
  color: $black;

  &__comments {
    @include mobile-paragraph-lists;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: grey;
    max-height: 400px;
    overflow-y: scroll;
  }

  &__upload-header {
    color: $yellowish;
    margin-bottom: 0.25rem;
    @include mobile-subsubheader;
  }

  &__comment {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    padding: 0.5rem;
    background-color: $white;
  }

  &__name {
    margin-bottom: 0.25rem;
  }

  &__form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__textarea {
    @include mobile-paragraph-lists;
    padding: 0.3rem;
    height: 4rem;
    border: 2px solid $yellowish;
    margin-bottom: 1rem;
  }

  &__upload-label {
    @include mobile-paragraph-lists;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

  &__upload {
    margin-bottom: 1rem;
  }

  &__submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__submit {
    border: 2px solid $yellowish;
    background-color: #ffffff;
    color: $yellowish;
    border-radius: 10px;
    font-family: "archivo";
    height: 2rem;
    width: 6rem;
  }
}

@include huge {
  .edit {
    margin: 3rem 180px 2rem 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__comments {
      width: 60%;
    }

    &__form {
      width: 40%;
    }
    &__submit {
      height: 4rem;
      width: 8rem;
    }
  }
}
