@font-face {
  font-family: archivo;
  src: url("../assets/fonts/Archivo/Archivo-Regular.ttf");
}

@font-face {
  font-family: archivo-bold;
  src: url("../assets/fonts/Archivo/Archivo-Bold.ttf");
}

@font-face {
  font-family: archivo-semibold;
  src: url("../assets/fonts/Archivo/Archivo-SemiBold.ttf");
}

/* Mobile (small) fonts */

@mixin mobile-header {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-family: "archivo-bold";
}

@mixin mobile-subheader {
  font-size: 1.125rem; /* 20px */
  line-height: 1.375rem; /* 24px */
  font-family: "archivo-semibold";
}

@mixin mobile-paragraph-lists {
  font-size: 0.812rem; /* 13px */
  line-height: 1.125rem; /* 18px */
  font-family: "archivo";
}

/* Desktop and tablet (medium and huge) fonts */

@mixin dt-huge-header {
  font-size: 3.75rem; /* 60px */
  line-height: 4.25rem; /* 68px */
  font-family: "archivo-bold";
}

@mixin dt-header-h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  font-family: "archivo-bold";
}

@mixin dt-header-h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-family: "archivo-bold";
}

@mixin dt-subheader {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-family: "archivo-semibold";
}

@mixin dt-paragraph {
  font-size: 0.875rem; /* 14px */
  line-height: 1.375rem; /* 22px */
  font-family: "archivo";
}
