@font-face {
  font-family: archivo;
  src: url("../assets/fonts/Archivo/Archivo-Regular.ttf");
}

@font-face {
  font-family: archivo-bold;
  src: url("../assets/fonts/Archivo/Archivo-Bold.ttf");
}

@font-face {
  font-family: archivo-semibold;
  src: url("../assets/fonts/Archivo/Archivo-SemiBold.ttf");
}

// @mixin mobile-header {
//   font-size: 1.5rem; /* 24px */
//   line-height: 2rem; /* 32px */
//   font-family: "avenir-next-bold";
// }
