.header {
  height: 6rem;
  margin: 0.5rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid $yellowish;

  &__logo-container {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 2rem;
    height: 2rem;
  }

  &__search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search-icon {
    width: 2rem;
    height: 2rem;
  }

  &__links {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
  }

  &__profile {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  &__profile-icon {
    width: 2rem;
    height: 2rem;
    background-color: grey;
  }

  &__logout {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

@include medium {
  .header {
    display: flex;
    width: 100%;
    border: none;

    &__logo-container {
      width: 60%;
      height: 100%;
      justify-content: flex-start;
      margin-left: 2rem;
    }

    &__logo {
      width: 3rem;
      height: 3rem;
    }

    &__search {
      width: fit-content;
      margin-right: 2rem;
    }

    &__search-icon {
      width: 3rem;
      height: 3rem;
    }

    &__links {
      width: fit-content;
      height: 100%;
      border: none;
      justify-content: flex-end;
    }

    &__profile {
      width: fit-content;
      margin-right: 2rem;
    }

    &__profile-icon {
      width: 3rem;
      height: 3rem;
    }
  }
}

@include huge {
  .header {
    padding: 0 180px;

    &__logo-container {
      width: 78%;
      margin: 0;
    }

    &__logo {
      width: 3.5rem;
      height: 3.5rem;
    }

    &__search-icon {
      width: 3.5rem;
      height: 3.5rem;
    }

    &__profile-icon {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
