.subheader {
  width: 100%;
  display: flex;

  &__container {
    margin: 1rem 0;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  &__linkto {
    color: $black;
    border-bottom: 3px solid $yellowish;
  }

  &__link {
    @include mobile-subsubheader;
  }
}
