.project {
  padding: 0 1rem;

  &__title {
    @include mobile-header;
    color: $yellowish;
    margin-bottom: 1rem;
  }

  &__settings {
    display: flex;
    margin-bottom: 1rem;
  }

  &__setting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2rem;
    margin-right: 1rem;
    background-color: $white;
    border: 2px solid $yellowish;
    border-radius: 10px;
  }

  &__setting {
    color: $yellowish;
    @include mobile-paragraph-lists;
  }

  &__contributors {
    @include mobile-paragraph-lists;
    margin-bottom: 1rem;
  }
  &__creator,
  &__collaborators {
    text-transform: uppercase;
  }

  &__description {
    @include mobile-paragraph-lists;
  }
}
