@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";

html,
body {
  margin: 0;
  font-family: "archivo", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden; /*to avoid horizontal scroll */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@import "./partials/loheader";
@import "./partials/header";
@import "./partials/list-subheader";
@import "./partials/profile";
@import "./partials/project";
@import "./partials/profilelist";
@import "./partials/projectlist";
@import "./partials/home";
@import "./partials/editproject";
@import "./partials/createproject";
