@font-face {
  font-family: archivo;
  src: url("../assets/fonts/Archivo/Archivo-Regular.ttf");
}

@font-face {
  font-family: archivo-bold;
  src: url("../assets/fonts/Archivo/Archivo-Bold.ttf");
}

@font-face {
  font-family: archivo-semibold;
  src: url("../assets/fonts/Archivo/Archivo-SemiBold.ttf");
}

/* Mobile (small) fonts */
/* Desktop and tablet (medium and huge) fonts */
html,
body {
  margin: 0;
  font-family: "archivo", sans-serif;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  /*to avoid horizontal scroll */
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.loheader {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5rem;
}

.loheader__logo-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loheader__logo {
  width: 4rem;
  height: 4rem;
}

.loheader__signup-container {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.loheader__signup {
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "archivo-semibold";
  color: #e8cb56;
}

.header {
  height: 6rem;
  margin: 0.5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #e8cb56;
}

.header__logo-container {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 2rem;
  height: 2rem;
}

.header__search {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-icon {
  width: 2rem;
  height: 2rem;
}

.header__links {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__profile-icon {
  width: 2rem;
  height: 2rem;
  background-color: grey;
}

.header__logout {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: none;
  }
  .header__logo-container {
    width: 60%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 2rem;
  }
  .header__logo {
    width: 3rem;
    height: 3rem;
  }
  .header__search {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 2rem;
  }
  .header__search-icon {
    width: 3rem;
    height: 3rem;
  }
  .header__links {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    border: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__profile {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 2rem;
  }
  .header__profile-icon {
    width: 3rem;
    height: 3rem;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .header {
    padding: 0 180px;
  }
  .header__logo-container {
    width: 78%;
    margin: 0;
  }
  .header__logo {
    width: 3.5rem;
    height: 3.5rem;
  }
  .header__search-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .header__profile-icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.subheader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader__container {
  margin-top: 1.5rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: #e8cb56;
}

.profile {
  padding: 2rem 1.5rem 0 1.5rem;
  color: #171717;
  background-image: url(../assets/backgrounds/sky11.png), url(../assets/backgrounds/sky22.png);
  background-position-x: -600px, 0;
  background-position-y: 275px, 800px;
  background-size: 800px, 400px;
  background-repeat: no-repeat, no-repeat;
}

.profile__photo-container {
  height: 150px;
  position: relative;
  z-index: 732;
}

.profile__photo {
  height: 100%;
  position: absolute;
}

.profile__artphoto {
  height: 150px;
  position: relative;
  bottom: 2rem;
  left: 4rem;
}

.profile__name {
  font-size: 2.5rem;
  line-height: 2.65rem;
  font-family: "archivo-bold";
  color: #e8cb56;
  margin-bottom: 1rem;
}

.profile__info {
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  font-family: "archivo";
  background-color: #ffffff;
  padding: 1rem;
}

.profile__info-label {
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.profile__bio {
  margin-bottom: 1rem;
}

.profile__projects-section {
  margin: 3rem 0;
  padding: 0.5rem;
  background-color: #ffffff;
  max-height: 20rem;
  overflow-y: scroll;
}

.profile__projects-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__projects-header {
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "archivo-semibold";
  color: #e8cb56;
}

.profile__new-project {
  border: 1px solid #e8cb56;
  background-color: #ffffff;
  color: #e8cb56;
  font-family: "archivo";
  height: 2rem;
  width: 6rem;
}

.profile__personalart-section {
  padding: 0.5rem;
  background-color: #ffffff;
  max-height: 20rem;
  overflow-y: scroll;
}

.profile__personal-description {
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  font-family: "archivo";
}

.profile__personal-image {
  max-width: 100%;
  margin: 1rem 0;
}

.profile__project {
  margin: 1rem 0;
  color: #171717;
  border-bottom: 1px solid #e8cb56;
}

.profile__personalart-header {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "archivo-semibold";
  color: #e8cb56;
}

.profile__personalart {
  margin: 1rem 0;
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  font-family: "archivo";
  border-bottom: 1px solid #e8cb56;
}

.profile__personal-title {
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "archivo-semibold";
}

@media only screen and (min-width: 768px) {
  .profile {
    padding: 3rem 6rem 0 6rem;
    background-image: url(../assets/backgrounds/sky11.png), url(../assets/backgrounds/sky22.png), url(../assets/backgrounds/sky33.png);
    background-position-x: -400px, 150px, 0;
    background-position-y: 300px, 800px, 1000px;
    background-size: 900px, 700px, 700px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  .profile__photo-container {
    height: 200px;
  }
  .profile__artphoto {
    height: 200px;
    bottom: 8rem;
    left: 10rem;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .profile {
    padding: 3rem 10rem 0 10rem;
    background-image: url(../assets/backgrounds/sky11.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profile__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    margin-top: 4rem;
  }
  .profile__top-left {
    width: 50%;
    margin: 0 2rem 0 0;
  }
  .profile__top-right {
    width: 50%;
  }
  .profile__photo-container {
    height: 250px;
  }
  .profile__photo {
    border: 10px solid #ffffff;
  }
  .profile__artphoto {
    height: 250px;
    overflow: hidden;
    border: 10px solid #ffffff;
  }
  .profile__info {
    font-size: 1rem;
    /* 14px */
    line-height: 1.375rem;
    /* 22px */
    font-family: "archivo";
  }
  .profile__name {
    font-size: 3.75rem;
    /* 60px */
    line-height: 4.25rem;
    /* 68px */
    font-family: "archivo-bold";
  }
  .profile__bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .profile__projects-section {
    width: 50%;
    margin-right: 2rem;
    margin-top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .profile__personalart-header, .profile__projects-header {
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.75rem;
    /* 44px */
    font-family: "archivo-bold";
  }
  .profile__personal-description {
    font-size: 1rem;
    /* 14px */
    line-height: 1.375rem;
    /* 22px */
    font-family: "archivo";
  }
  .profile__personalart-section {
    width: 50%;
  }
}

.project {
  padding: 0 1rem;
}

.project__title {
  font-size: 2.5rem;
  line-height: 2.65rem;
  font-family: "archivo-bold";
  color: #e8cb56;
  margin-bottom: 1rem;
}

.project__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.project__setting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border: 2px solid #e8cb56;
  border-radius: 10px;
}

.project__setting {
  color: #e8cb56;
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  font-family: "archivo";
}

.project__contributors {
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  font-family: "archivo";
  margin-bottom: 1rem;
}

.project__creator, .project__collaborators {
  text-transform: uppercase;
}

.project__description {
  font-size: 0.812rem;
  /* 13px */
  line-height: 1.125rem;
  /* 18px */
  font-family: "archivo";
}

.profiles {
  padding: 0 1rem;
}

.profiles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  border-bottom: 1px solid #e8cb56;
  padding: 0.5rem;
  background-color: white;
  color: #171717;
}

.profiles__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profiles__item-container--1 {
  width: 30%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.profiles__item-container--2 {
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
  line-height: 2rem;
  font-family: "archivo-semibold";
}

.profiles__item-container--3 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.profiles__item-container--4 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.profiles__pic-container {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.profiles__pic {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .profiles {
    padding: 0 1.5rem;
  }
  .profiles__item-container--1 {
    width: 15%;
  }
  .profiles__item-container--3 {
    width: 100%;
    margin-left: 15%;
  }
  .profiles__item-container--4 {
    margin-left: 15%;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .profiles {
    padding: 3rem 10rem;
    background-image: url(../assets/backgrounds/sky11.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profiles__container {
    width: 100%;
  }
  .profiles__item-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #ffffff;
    width: 100%;
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    font-family: "archivo-semibold";
  }
  .profiles__item-container--1 {
    padding: 0;
    width: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profiles__item-container--2 {
    width: 30%;
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
    font-family: "archivo-bold";
  }
  .profiles__item-container--3 {
    width: 20%;
    margin: 0;
  }
  .profiles__item-container--4 {
    width: 40%;
    margin: 0;
  }
}

.home {
  height: 100vh;
  background-image: url(../assets/backgrounds/sky44.png), url(../assets/backgrounds/sky11.png), url(../assets/backgrounds/sky33.png);
  background-position-x: -40px, 100px, 0;
  background-position-y: 20px, 300px, 0;
  background-size: 250px, 800px, 1000px;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.home__header {
  color: #e8cb56;
  font-size: 6rem;
}

.home__header-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home__login-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__login {
  border: 2px solid #e8cb56;
  background-color: #ffffff;
  color: #e8cb56;
  border-radius: 10px;
  font-family: "archivo";
  height: 3rem;
  width: 6rem;
}

@media only screen and (min-width: 1440px) {
  .home {
    background-position-x: -40px, 150px, 500px;
    background-position-y: 20px, 180px, 150px;
    background-size: 500px, 1200px, 2000px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  .home__header {
    font-size: 10rem;
  }
}
/*# sourceMappingURL=main.css.map */