@font-face {
  font-family: archivo;
  src: url("../assets/fonts/Archivo/Archivo-Regular.ttf");
}

@font-face {
  font-family: archivo-bold;
  src: url("../assets/fonts/Archivo/Archivo-Bold.ttf");
}

@font-face {
  font-family: archivo-semibold;
  src: url("../assets/fonts/Archivo/Archivo-SemiBold.ttf");
}

/* Mobile (small) fonts */
/* Desktop and tablet (medium and huge) fonts */
html,
body {
  margin: 0;
  font-family: "archivo", sans-serif;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  /*to avoid horizontal scroll */
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  height: 9rem;
  border-bottom: 1px solid black;
}

.header__logo-container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 4rem;
  height: 4rem;
}

.header__links {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__profile {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__profile-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: grey;
}

.header__search {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__search-icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 5px solid black;
  }
  .header__logo-container {
    width: 50%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 2rem;
  }
  .header__logo {
    width: 6rem;
    height: 6rem;
  }
  .header__links {
    width: 50%;
    height: 100%;
    border: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__profile {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 4rem;
  }
  .header__profile-icon {
    width: 6rem;
    height: 6rem;
  }
  .header__search {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 2rem;
  }
  .header__search-icon {
    width: 6rem;
    height: 6rem;
  }
  /* placeholder */
}

.subheader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subheader__container {
  margin-top: 1.5rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__project {
  margin: 3rem 0;
}

.profile__photo {
  height: 200px;
}

.profile__personal-image {
  height: 100px;
}

.profiles {
  margin: 0 1rem;
}

.profiles__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
  border: 1px solid black;
}

.profiles__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profiles__item-container--1 {
  width: 30%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.profiles__item-container--2 {
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  /* 20px */
  line-height: 1.375rem;
  /* 24px */
  font-family: "archivo-semibold";
}

.profiles__item-container--3 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.profiles__item-container--4 {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.profiles__pic {
  width: 50px;
  height: 50px;
  background-color: grey;
}

@media only screen and (min-width: 768px) {
  .profiles {
    margin: 0 1.5rem;
  }
  .profiles__item-container--1 {
    width: 15%;
  }
  .profiles__item-container--3 {
    width: 100%;
    margin-left: 15%;
  }
  .profiles__item-container--4 {
    margin-left: 15%;
  }
  /* placeholder */
}

@media only screen and (min-width: 1440px) {
  .profiles {
    margin: 0 11rem;
  }
  .profiles__item-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .profiles__item-container--1 {
    padding: 0;
    width: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profiles__item-container--2 {
    width: 20%;
  }
  .profiles__item-container--3 {
    width: 20%;
    margin: 0;
  }
  .profiles__item-container--4 {
    width: 40%;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */